:root{

    --base-color: #000000;
    --accent-color: #000000 ;
    --light-color: #d9fff9;


    --base-front: Georgia, 'Times New Roman', Times, serif;
    --accent-front: 'Oswald', sans-serif; ;

}